<html>
<head>
  <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
      th, td {
          padding: 5px;
      }
      th {
          text-align: left;
      }
      td.nonconf {
          background-color: red;
      }
      tr.old {
          color: darkgray;
      }
  </style>
</head>
<body>
<% projects.each do |project| %>
    <h2> <%= "Project #{project.name}"%></h2>
    <table style="width:100%">
      <tr>
        <th>Repo</th>
        <th>Size</th>
        <th>README.md</th>
        <th>LICENSE</th>
        <th>AUTHORS</th>
        <th>CONTRIBUTORS</th>
        <th>Last update on master</th>
      </tr>
      <% project.repos.each do |repo| %>
      <tr  class="<%= 'old' if repo.old? %>">
        <td><%= repo.name %></td>
        <td class="<%= 'nonconf' if repo.oversized? %>"><%= repo.human_readable_size %></td>
        <td class="<%= 'nonconf' if !repo.has[:readme] %>"><%= repo.has[:readme] %> </td>
        <td class="<%= 'nonconf' if !repo.has[:license] %>"><%= repo.has[:license] %> </td>
        <td class="<%= 'nonconf' if !repo.has[:authors] %>"><%= repo.has[:authors] %> </td>
        <td class="<%= 'nonconf' if !repo.has[:contributors] %>"><%= repo.has[:contributors] %> </td>
        <td><%= repo.last_commit_date %></td>
      </tr>
      <% end %>
    </table>
<% end %>
</body>
</html>
